body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-size: 100%
}

a {
  color: #00B7FF;
}
h5 {
  font: 12pt "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  text-align: center;
}
table, th, td {
    border: 1px solid black;
}
h4 {
  margin-top:0px;
}
nav {
  background-color: #ff9933
}
/*div + div + div {
  margin-top:20px;
  margin-bottom:0px;
}
div + div + div + div {
  margin-top:40px;
  margin-bottom:0px;
}*/

.griddle-container{
  border:1px solid #800;
  color:#800;
}

.griddle .top-section{
  clear:both;
  display:table;
  color:#800;
  width:100%;
}

.griddle .griddle-filter{
  float:left;
  width:50%;
  text-align:left;
  color:#800;
  min-height:1px;
}

.griddle .griddle-settings-toggle{
  float:left;
  width:50%;
  color:#800;
  text-align:right;

}

.griddle .griddle-settings{
  background-color:#FFF;
  border:1px solid #DDD;
  color:#800;
  padding:10px;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-columns{
  clear:both;
  display:table;
  width:100%;
  border-bottom:1px solid #EDEDED;
  margin-bottom:10px;
}

.griddle .griddle-settings .griddle-column-selection{
  float:left;
  width:20%;
}
.griddle table{
  width:100%;table-layout:fixed;
}

.griddle th{
  background-color:#EDEDEF;
  border:0px;
  border-bottom:1px solid #DDD;
  color:#222;
  padding:5px;
}

.griddle td{
  padding:5px;
  background-color:#FFF;
  border-top-color:#DDD;
  color:#222;
}

.griddle .footer-container{
  padding:0px;
  background-color:#EDEDED;
  border:0px;
  color:#222;
}

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next{
  float:left;
  width:33%;
  min-height:1px;
  margin-top:5px;
}

.griddle .griddle-page{
  text-align:center;
}

.griddle .griddle-next{
  text-align:right;
}

.btn {
  box-shadow: none;
  /*margin: 5px;*/
}

.inline {
  display: inline;
}

div.card, div.card-panel {
    box-shadow: none;
}

.btn:hover, .btn:focus {
  box-shadow: none;
  filter: brightness(120%);
}

.center {
  text-align: center;
}

.background-main {
  background-color: #E0E0E0;
  /*background-color: #F7F6F6;*/
}

input.input-primary {
  border: none;
  background: white;
  /*box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);*/
}

div.dashboard-container {
  width: 90%;
}

nav {
  box-shadow: none;
}

div.project-card {
  transition: .1s border;
}

div.project-card:hover {
  /*border-bottom: 5px solid #4DB6AC;*/
  /*box-shadow: 0 4px 0px #4DB6AC;*/
  box-shadow: inset 0 -5px 0 0 #4DB6AC;
  transform: scale(1.05, 1.05);
  cursor: pointer;
}

a.notification, li.notification {
  -webkit-transition: .1s border;
  -moz-transition: .1s border;
  transition: .1s border;
}

a.notification:hover, li.notification:hover {
  border-left: 8px solid #4DB6AC;
  background-color: transparent !important;
}